header h1 {
    color: white;
    background-color: rgb(28, 153, 255);
    padding: 1em;
    margin-bottom: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 243, 255);
    padding: 1em 2em;
    font-size: x-large;
}

nav a {
    text-decoration: none;
    color: rgb(28, 153, 255);
}

nav :hover {
    background-color: rgb(28, 153, 255);
    color: white;
    transition: all 0.3s ease;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    grid-gap: 1em;
}

.card {
    max-height: 80vh;
    border-radius: 1em;
    border-width: 2px;
    border-color: rgb(199, 199, 199);
    border-style: solid;
}

.card h2 {
    text-align: center;
    background-color: rgb(28, 153, 255);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5em;
    color: white;
    border-radius: .5em .5em 0 0;
}

.leftCardContent {
    padding: 0 1rem;
}

.paragraph-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraph-style {
    display: inline; 
    text-align: justify; 
    padding-right: 1rem
}

.img-outer-wrapper {
    margin: auto;
}

.img-inner-wrapper {
    min-width: 10rem;
    /* max-height: 12rem; */
    display: flex;
}

.img-style {
    display: inline;
    border-radius: 1rem;
    width: 100%;
}

.leftCardContent {
    display: flex; 
    margin-bottom: 1rem;
}

.links {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.rightCardContent {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

footer {
    background-color: rgb(28, 153, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    color: white;
}