body {
    font-family: Roboto;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid lightgrey;
    padding: 1rem;
    background-color: lightskyblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}